/** Custom styles */

.btn-bold {
  font-weight: bold;
}

.simpleicons {
  width: 20px;
  height: 20px;
}

.inline-icon {
  vertical-align: text-top;
  margin-top: 0.45rem;
}

.link-point {
  margin-left: 2rem;
  font-weight: bold;
}
